
@{
    ViewBag.Title = "Error";
}

<div class="text-center d-flex justify-content-center align-items-center flex-column " style="height: 88vh">
    <h1 class="text-danger text-center">@ViewBag.Message</h1>
    <a class="btn btn-primary" href="/">Go Back</a>
</div>

